<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://erphistorias.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>erphistorias.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>erphistorias</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$erphistorias</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ERP_HistoriasClinicasEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERP_HistoriasClinicas.ERP_HistoriasClinicasEntities, ERP_HistoriasClinicas" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ERP_HistoriasClinicasConnectionString2" Order="2" Enabled="False">
          <Destination Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ERP_HistoriasClinicasConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sqlserver-utn.database.windows.net;initial catalog=hospital;persist security info=True;user id=administrador;password=admin.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ERP_HistoriasClinicasConnectionString3" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ERP_HistoriasClinicasConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sqlserver-utn.database.windows.net;initial catalog=hospital;persist security info=True;user id=administrador;password=admin.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ERP_HistoriasClinicasConnectionString4" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ERP_HistoriasClinicasConnectionString4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sqlserver-utn.database.windows.net;initial catalog=hospital;persist security info=True;user id=administrador;password=admin.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ERP_HistoriasClinicasConnectionString5" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ERP_HistoriasClinicasConnectionString5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sqlserver-utn.database.windows.net;initial catalog=hospital;persist security info=True;user id=administrador;password=admin.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ERP_HistoriasClinicasConnectionString" Order="6" Enabled="False">
          <Destination Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ERP_HistoriasClinicasConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sqlserver-utn.database.windows.net;initial catalog=hospital;persist security info=True;user id=administrador;password=admin.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="historiasConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=historias;Persist Security Info=True;User ID=sa;Password=123listos" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\historiasConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=historias;Persist Security Info=True;User ID=sa;Password=123listos" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="hospitalConnectionString" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\hospitalConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ERP_HistoriasClinicasConnectionString2-Web.config Connection String">
      <ParameterValue>Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ERP_HistoriasClinicasConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ERP_HistoriasClinicasConnectionString3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ERP_HistoriasClinicasConnectionString4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ERP_HistoriasClinicasConnectionString5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)historiasConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hospitalConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="ERP_HistoriasClinicasConnectionString2-Web.config Connection String">
      <ParameterValue>Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ERP_HistoriasClinicasConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sqlserver-utn.database.windows.net;Initial Catalog=hospital;Persist Security Info=True;User ID=administrador;Password=admin.1234</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ERP_HistoriasClinicasEntities-Web.config Connection String" />
  </ItemGroup>
</Project>