<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ERP_HistoriasClinicasEntities" connectionString="metadata=res://*/Model_HistoriasClinicas.csdl|res://*/Model_HistoriasClinicas.ssdl|res://*/Model_HistoriasClinicas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ERP_HistoriasClinicas;persist security info=True;user id=sa;password=123listos;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ERP_HistoriasClinicasConnectionString" connectionString="Data Source=.;Initial Catalog=ERP_HistoriasClinicas;Persist Security Info=True;User ID=sa;Password=123listos"
      providerName="System.Data.SqlClient" />
    <add name="ERP_HistoriasClinicasConnectionString2" connectionString="Data Source=.;Initial Catalog=ERP_HistoriasClinicas;Persist Security Info=True;User ID=sa;Password=123listos"
      providerName="System.Data.SqlClient" />
    <add name="ERP_HistoriasClinicasConnectionString3" connectionString="Data Source=.;Initial Catalog=ERP_HistoriasClinicas;Persist Security Info=True;User ID=sa;Password=123listos"
      providerName="System.Data.SqlClient" />
    <add name="ERP_HistoriasClinicasConnectionString4" connectionString="Data Source=.;Initial Catalog=ERP_HistoriasClinicas;Persist Security Info=True;User ID=sa;Password=123listos"
      providerName="System.Data.SqlClient" />
    <add name="ERP_HistoriasClinicasConnectionString5" connectionString="Data Source=.;Initial Catalog=ERP_HistoriasClinicas;Persist Security Info=True;User ID=sa;Password=123listos"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
